.Input {
    align-self: center;
    width: 400px;
    height: 50px;
    border: 1px solid black;
    font-size: 18px;
    padding: 20px;
    outline: none;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 850px ) {
    .Input {
        width: 60%;
        font-size: 85%;
    }
}
@media (max-width: 435px ) {
    .Input {
        font-size: 70%;
    }
}