.contentsArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contentsArea h2 {
    margin-top: 20px;
    font-size: 35px;
}
.contentsArea p {
    font-size: 25px;
    margin-bottom: 20px;
}