.contentsArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contentsArea h2 {
    margin-top: 20px;
    font-size: 35px;
}
.contentsArea p {
    font-size: 25px;
    margin-bottom: 20px;
}

.contentContainer {
    padding: 40px 6%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}