.conteudoArticle {
    background-image: linear-gradient(to bottom, rgba(196, 40, 40, 0.9) 25%, white, rgba(40, 40, 196, 0.9));
}

.conteudoArticle section:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    color: #FFF;
}

.conteudoArticle section:nth-child(1) h1 {
    font-size: 43px;
}
.conteudoArticle section:nth-child(1) h2 {
    font-size: 33px;
}
.conteudoArticle section:nth-child(1) h1,
.conteudoArticle section:nth-child(1) h2 {
    width: fit-content;
    margin-bottom: 10px;
}

.content {
    padding: 20px 0px;
}
.content h2{
    font-size: 32px;
}
