.Dictionary {
    position: sticky;
    top: 100px;
    min-width: 300px;
    width: fit-content;
    height: calc(80vh);
    border-radius: 16px 16px 16px 16px;
    padding: 0px 0px 10px 0px;
}

.DictionaryHeader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(63, 207, 255, 0.457);
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 33px;
}

.DictionaryHeader:before {
    border: 30px solid transparent;
    border-right-color: rgba(63, 207, 255, 0.457);
    content: "";
    transform: rotate(-90deg);
    bottom: -60px;
    position: absolute;
}

.DictionaryHeader h2 {
    font-weight: normal;
    color: #000;
}

.DictionaryHeader span {
    font-weight: bold;
}

.Dictionary div:nth-child(2) {
    max-height: calc(100% - 120px);
    overflow-y: scroll;
    background-color: #FFF;
}

.Dictionary div:nth-child(2) h5 {
    margin-left: 13px;
    font-size: 16px;
    font-style: oblique;
    color: #1ba0b7;
}

.Dictionary div:nth-child(2) p {
    margin-left: 13px;
    font-size: 14px;
    color: #323232;
    margin-bottom: 7px;
}