.logoContainer {
    display: flex;
    gap: 5px;
    align-items: center;
}

.logoContainer p {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 850px) {
    .logoContainer {
        display: none;
    }
}