.conteudoPost {
    padding: 25px 8%;
}

.conteudoPost h2 {
    font-size: 30px;
    margin-bottom: 14px;
    text-align: left;
}
.bannerPrincipal {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.bannerPrincipal .banner {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.74;
}

.bannerPrincipal h2 {
    font-size: 50px;
    text-align: center;
}

.bannerPrincipal p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.bannerPrincipal span {
    color: rgb(9, 163, 225);
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 10px;
}

.author {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    height: 100px;
}

.author p {
    font-size: 20px;
    font-weight: bold;
    color:#000;
}

.author img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.conteudoPost .text {
    font-size: 22px;
    max-width: 64%;
    width: fit-content;
    padding: 25px 0px;
    border-bottom: 1px solid rgb(9, 163, 225);
    margin-bottom: 20px;
    text-align: justify;
}
.conteudoPost .text ul {
    margin-left: 40px;
}
.conteudoPost .text ul li {
    list-style: disc;
}

.conteudoPost .text p {
    margin-bottom: 24px;
}
.conteudoPost .text p em {
    text-decoration: underline;
}

@media (max-width: 850px ) {
    .conteudoPost .banner {
        width: 100%;
    }
    .conteudoPost .text {
        max-width: 100%;
    }
}