.container404 {
    width: 100%;
    min-height: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: rgb(242, 242, 242);
}

.container404 img {
    width: 100%;
}
.container404 p {
    text-align: center;
    color: rgb(104, 101, 101);
    font-size: 20px;
    width: 65%;
    font-size: 25px;
}

.container404 div:nth-child(1) h2{
    font-size: 30px;
}

.container404 div:nth-child(2) {
    width: 50%;
}

.container404 div:nth-child(1) {
    width: 50%;
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container404 div:nth-child(1) h1 {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

.container404 div:nth-child(1) div {
    margin-top: 25px;
    min-width: 50%;
    display: flex;
    width: max-content;
    gap: 10px;
    justify-content: space-between;
}

@media (max-width: 850px) {
    .container404 {
        align-items: center;
    }
    .container404 img {
        display: none;
    }

    .container404 div:nth-child(2) {
        display: none;
    }
    .container404 div:nth-child(1) {
        width: 100%;
    }
}